NODE_ENV=development
CLIENT_URL=http://localhost:5000
ACCESS_TOKEN=1234
TMP_DIR=./tmp

ALT_TRACKING_MAIL=tracking@domain.de

#DPD
DPD_SHIPPING_API=https://cloud-stage.dpd.com/api/v1
DPD_CREDENTIALS_NAME=DPD Cloud Service Alpha2
DPD_CREDENTIALS_TOKEN=
DPD_CLOUD_USER_ID=
DPD_USER_TOKEN=

#DHL
DHL_DEV=0
DHL_ACCOUNT_NUMBER=
DHL_ACCOUNT_NUMBER_INT=
DHL_USER=
DHL_PASS=
DHL_HTTP_AUTH_USER=
DHL_HTTP_AUTH_PASS=
DHL_HTTP_AUTH_PASS_DEV=
DHL_HTTP_AUTH_USER_DEV=

#DPD-Web
DPD_WEB_USERNAME=
DPD_WEB_PASSWORD=
